{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block title %}Settings for user {{ userobject.get_short_name }} {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'tem/selectmultiple/bootstrap.multiselect.js' %}"></script>
{% block extrascript %}
{% endblock %}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "tem/selectmultiple/bootstrap.multiple.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "web/css/select2.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "web/css/main.css" %}" />
{% block extracss %}
{% endblock %}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li><a href="../../">Web</a></li>
<li><a href="../../user/">Clients</a></li>
</ul>
{% endblock %}

{% block content %}
{% block body_block %}
{% endblock %}
{% endblock %}